<% content_for :sidebar do %>

<% end %>

<div data-hook="homepage_products">
  <%#= render 'shared/products', :products => @products %>
</div>



<div id= "fondoContenido">
		
	<div id= "banner">
     	<%= image_tag "store/banner.jpg" %>
    </div>
   	<div id= "productosNuevos">
     	<%= image_tag "store/banner3.jpg" %>
    </div>
   	<div id= "destacado">
     	<%= image_tag "store/banner4.jpg" %>
    </div>
    <div id= "clear"></div>

</div>
